@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.wrap {
  min-width: 320px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo {
  display: flex;
  border: 10px black;
  flex-grow: 0.9;
  padding-left: 5%;
}
.header__btns {
  margin: 25px 25px;
}
.header__btns--sign_in {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  padding: 10px 30px;
  background-color: white;
}

.dashboard {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.dashboard__info {
  margin-top: 60px;
  max-width: 550px;
  margin-right: 80px;
}
.dashboard__title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 68px;
  width: 450px;
  margin: 0;
}
.dashboard__text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #555555;
  width: 400px;
}
.dashboard__btn {
  cursor: pointer;
  border: 0;
  background-color: #FFD338;
  border-radius: 10px;
  font-size: 16px;
  padding: 15px 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.dashboard__pictures {
  display: flex;
}

svg {
  margin-bottom: -100px;
}

.main-description {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, rgb(255, 249, 232) 50%, rgb(255, 255, 255) 100%);
  margin-bottom: 120px;
}
.main-description--title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 52px;
  font-weight: 400;
}
.main-description--text {
  text-align: center;
  margin: 0 auto;
  width: 35%;
  font-size: 20px;
  color: #555555;
}
.main-description__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main-description__container--item {
  margin: 50px 0 220px 200px;
  display: flex;
}
.main-description__container--item-textContent {
  margin-top: 80px;
  margin-left: 50px;
  max-width: 300px;
  max-height: 250px;
}
.main-description__container--item-textContent-title {
  font-size: 22px;
  font-weight: 400;
}
.main-description__container--item-textContent-text {
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}
.main-description__container--item2 {
  margin: 50px 0 0 200px;
  display: flex;
}
.main-description__container--item2 .img {
  position: absolute;
  margin-top: -500px;
  margin-left: 95px;
}
.main-description__container--item2-textContent {
  margin-top: 80px;
  margin-left: 50px;
  max-width: 300px;
  max-height: 250px;
}
.main-description__container--item2-textContent-title {
  font-size: 22px;
  font-weight: 400;
}
.main-description__container--item2-textContent-text {
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}
.main-description__container--item3 {
  margin: -60px 0 0 610px;
  display: flex;
}
.main-description__container--item3 .img {
  margin: -300px 0 40px 0;
  z-index: 1;
}
.main-description__container--item3-textContent {
  margin-top: 80px;
  margin-left: 50px;
  max-width: 300px;
  max-height: 250px;
}
.main-description__container--item3-textContent-title {
  font-size: 22px;
  font-weight: 400;
}
.main-description__container--item3-textContent-text {
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}

.main-liveStreamsDesc {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #F0ECFF 50%, rgb(255, 255, 255) 100%);
  margin-bottom: 250px;
}
.main-liveStreamsDesc--title {
  padding-top: 30px;
  text-align: center;
  font-size: 52px;
  font-weight: 400;
}
.main-liveStreamsDesc--text {
  text-align: center;
  margin: 0 auto;
  width: 35%;
  font-size: 20px;
  color: #555555;
}
.main-liveStreamsDesc__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main-liveStreamsDesc__container--item {
  margin: 50px 0 220px 200px;
  display: flex;
}
.main-liveStreamsDesc__container--item-textContent {
  margin-top: 80px;
  margin-left: 50px;
  max-width: 300px;
  max-height: 250px;
}
.main-liveStreamsDesc__container--item-textContent-title {
  font-size: 22px;
  font-weight: 400;
}
.main-liveStreamsDesc__container--item-textContent-text {
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}
.main-liveStreamsDesc__container--item2 {
  margin: 50px 0 0 200px;
  display: flex;
}
.main-liveStreamsDesc__container--item2 .img {
  position: absolute;
  margin-top: -500px;
  margin-left: 95px;
}
.main-liveStreamsDesc__container--item2-textContent {
  margin-top: 80px;
  margin-left: 50px;
  max-width: 300px;
  max-height: 250px;
}
.main-liveStreamsDesc__container--item2-textContent-title {
  font-size: 22px;
  font-weight: 400;
}
.main-liveStreamsDesc__container--item2-textContent-text {
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}
.main-liveStreamsDesc__container--item3 {
  margin: -60px 0 0 610px;
  display: flex;
}
.main-liveStreamsDesc__container--item3 .img {
  margin: -290px 0 40px 0;
  z-index: 1;
}
.main-liveStreamsDesc__container--item3-textContent {
  margin-top: 80px;
  margin-left: 50px;
  max-width: 300px;
  max-height: 250px;
}
.main-liveStreamsDesc__container--item3-textContent-title {
  font-size: 22px;
  font-weight: 400;
}
.main-liveStreamsDesc__container--item3-textContent-text {
  margin-top: 5px;
  font-size: 18px;
  color: #555555;
}

.features .main-features--title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 55px;
  font-weight: 400;
}
.features .main-features_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
}
.features .main-features_list--item {
  margin-top: 5px;
  width: 320px;
  height: 210px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.features .main-features_list--item img {
  padding: 0;
  margin: 10px 0;
}
.features .main-features_list--item .item_title {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin: 10px auto;
}
.features .main-features_list--item .item_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #555555;
  text-align: center;
  margin: 0 20px;
}

.container {
  flex-direction: column !important;
}

/*# sourceMappingURL=style.css.map */
