.features{
    .main-features{
        &--title{
            font-family: 'Roboto',sans-serif;
            text-align: center;
            font-size: 55px;
            font-weight: 400;
        }
        &_list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            gap: 55px;
            &--item{
                margin-top: 5px;
                width: 320px;
                height: 210px;
                display: flex;
                align-items: center;
                flex-direction: column;
                img{
                    padding: 0;
                    margin: 10px 0;
                }
                .item_title{
                    font-family: 'Roboto',sans-serif;
                    font-weight: 400;
                    font-size: 22px;
                    margin: 10px auto;
                }
                .item_text{
                    font-family: 'Roboto',sans-serif;
                    font-weight: 400;
                    color: #555555;
                    text-align: center;
                    margin:0 20px;
                }
            }
            

        }
    }
}