
svg{
    margin-bottom: -100px;
}

.main-description{
    font-family: 'Roboto',sans-serif;
    
    background: linear-gradient(180deg, rgba(255,249,232,1) 50%, rgba(255,255,255,1) 100%);
    margin-bottom: 120px;
    &--title{
        margin-bottom: 10px;
        text-align: center;
        font-size: 52px;
        font-weight: 400;
    }
    &--text{
        text-align: center;
        margin: 0 auto;
        width: 35%;
        font-size: 20px;
        color: #555555;
    }
    &__container{
        display: flex;
        &--item{
            margin: 100px 0 110px 420px ;
            display: flex;
            flex-direction: row-reverse;
            &-textContent{
                margin-top: 80px;
                margin-left: 50px;
                max-width: 300px;
                max-height: 250px;
                &-title{
                    font-size: 22px;
                    font-weight: 400;
                }
                &-text{
                    margin-top: 5px;
                    font-size: 18px;
                    color: #555555;
                }
                
            }
            &-phoneCalendarFrame{
            }
        }
    }
}