.requestInvite{
    .main-requestInvite{
        font-family: 'Roboto',sans-serif;
        padding: 200px 0px;
        &--title{
            text-align: center;
            font-size: 56px;
            font-weight: 400;
            margin-bottom: 0;
        }
        &--text{
            text-align: center;
            color:#555555;
            margin: 40px;
            font-size: 20px;
            padding-inline: 450px;
            margin: 20px;   
        }
        &--btn{
            cursor: pointer;
            font-weight: 600;
            padding: 15px 20px; 
            background-color: #FFD338;
            border: 0cap;
            border-radius: 8px;
            display: flex;
            margin: 0 auto 10px;
            &:hover{
                box-shadow: 2px 2px 0px 0px black;
                transition: 0.8s;
            }   
        }
        
    }
}